{% extends 'polweb/base.html' %}
    {% block content %}
	
<section>
		{% if kole.pro_video %}
			<div class="main1">
				<div class="blog-box-cnt">
					<h1>{{ project.title }}</h1>
					<div class="blog-img-cnt">
		<video width="250" height="250" controls><source src="{{ kole.pro_video.url }}" 
type="video/mp4">Your browser does not support the video tag.</video>					
						</div>
						<div class="blog-text-cnt">
						<span>{{ kole.time }}</span>
						
						<p>{{ kole.body|linebreaks }}</p>			
					</div>
					
					<!-------second section------>
					{% if kole.image1 %}
					<div class="blog-img-cntd">
						<img src ="{{ kole.image1.url }}" alt="pix">
						<img src ="{{ kole.image1b.url }}" alt="pix">
					</div>
					<div>
						<a class="prev" onclick="plusSlides(-1)">prev</a>
						<a class="next" onclick="plusSlides(1)">next</a>	
										
					</div>
					<div class="blog-text-cnt">
						
						<p>{{ kole.body1|linebreaks }}</p>			
					</div>
					{% else %}
					<div></div>
					{% endif %}
					
					
					<!-------third section------>
					{% if kole.image2 %}
					<div class="blog-img-cntd2">
						<img src ="{{ kole.image2.url }}" alt="pix">
						<img src ="{{ kole.image2b.url }}" alt="pix">
						<a class="prev2" onclick="plusSlides2(-1)">prev</a>
						<a class="next2" onclick="plusSlides2(1)">next</a>						
					</div>
					<div class="blog-text-cnt">
						
						<p>{{ kole.body2|linebreaks }}</p>			
					</div>
					{% else %}
					<div></div>
					{% endif %}
					
					<!-------fourth section------>
					{% if kole.image3 %}
					<div class="blog-img-cnt">
						<img src ="{{ kole.image3.url }}" alt="pix">
					</div>
					<div class="blog-text-cnt">
						
						<p>{{ kole.body3|linebreaks }}</p>			
					</div>
					{% else %}
					<div></div>
					{% endif %}
					
					<!-------fifth section------>
					{% if kole.image4 %}
					<div class="blog-img-cnt">
						<img src ="{{ kole.image4.url }}" alt="pix">
					</div>
					<div class="blog-text-cnt">
						
						<p>{{ kole.body4|linebreaks }}</p>			
					</div>
					{% else %}
					<div></div>
					{% endif %}
				</div>	
			</div>
			
		{% else %}
	
			<div class="main1">
				<div class="blog-box-cnt">
					<h1>{{ kole.title }}</h1>
					<div class="blog-img-cnt">
						<img src ="{{ kole.image.url }}" alt="pix">
					</div>
					<div class="blog-text-cnt">
						<span>{{ kole.time }}</span>
						
						<p>{{ kole.body|linebreaks }}</p>			
					</div>
					
					<!-------second section------>
					{% if kole.image1 %}
					<div class="s-bar">
						<div class="blog-img-cntd">
						
						<img src ="{{ kole.image1.url }}" alt="pix">
						</div>
						<div class="blog-img-cntd">
					
						<img src ="{{ kole.image1b.url }}" alt="pix">
						</div>
					
						<a class="prev" onclick="plusSlides(-1)">prev</a>
						<a class="next" onclick="plusSlides(1)">next</a>
					</div>
					



	
					<div class="blog-text-cnt">
						
						<p>{{ kole.body1|linebreaks }}</p>			
					</div>
					{% else %}
					<div></div>
					{% endif %}
					
					
					<!-------third section------>
					{% if kole.image2 %}
					<div class="s-bar2">
					<div class="blog-img-cntd2">
						<img src ="{{ kole.image2.url }}" alt="pix">
					</div>
					<div class="blog-img-cntd2">
						<img src ="{{ kole.image2b.url }}" alt="pix">
					</div>
						<a class="prev2" onclick="plusSlides2(-1)">prev</a></a>
						<a class="next2" onclick="plusSlides2(1)">next</a>
					</div>
					<div class="blog-text-cnt">
						
						<p>{{ kole.body2|linebreaks }}</p>			
					</div>
					{% else %}
					<div></div>
					{% endif %}
					
					<!-------fourth section------>
					{% if kole.image3 %}
					<div class="blog-img-cnt">
						<img src ="{{ kole.image3.url }}" alt="pix">
					</div>
					<div class="blog-text-cnt">
						
						<p>{{ kole.body3|linebreaks }}</p>			
					</div>
					{% else %}
					<div></div>
					{% endif %}
					
					<!-------fifth section------>
					{% if kole.image4 %}
					<div class="blog-img-cnt">
						<img src ="{{ kole.image4.url }}" alt="pix">
					</div>
					<div class="blog-text-cnt">
						
						<p>{{ kole.body4|linebreaks }}</p>			
					</div>
					{% else %}
					<div></div>
					{% endif %}
					
				</div>	
			</div>
			
		{% endif %}
	</section>
<script>
	var slideIndex = 1;
	showSlides(slideIndex);

	function plusSlides(n) {
	showSlides(slideIndex += n);
	}

	function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("blog-img-cntd");


  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }

  slides[slideIndex-1].style.display = "flex";  
  


	}
</script>
		
		
		
<script>
	var slideIndex = 1;
	showSlides2(slideIndex);


	function plusSlides2(n) {
	showSlides2(slideIndex += n);
	}

	function showSlides2(n) {
  var i;

  var slides2 = document.getElementsByClassName("blog-img-cntd2");

  if (n > slides2.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides2.length}

  
  for (i = 0; i < slides2.length; i++) {
      slides2[i].style.display = "none";  
  }

  slides2[slideIndex-1].style.display = "flex"; 

	}
</script>
	{% endblock content %}
	
</html>

