{% extends 'polweb/base.html' %}
{% block content %}

	<section id="blog">
		<!-----blog heading------->
		<div class="blog-heading">
			<span>recent empowerment schemes</span>
		</div>
		<!------blog---------->
		<div class="blog-container">
			{% for p in kole %}
			{% if p.image %}
				{% if p.pk < 5 %}
					<div class="blog-box">
						<div class="blog-img">
						
							<img src ="{{ p.image.url }}" alt="pix">
						
						</div>
						<div class="blog-text">
							<span>{{ p.time }}</span>
							<a href="{% url 'empowerment-detail' p.pk %}" class="blog-title"> {{ p.title }}</a>
							<p>{{ p.pos }}</p> 
							<a href="{% url 'empowerment-detail' p.pk %}">Read More</a>			
						</div>
					</div>
					

					{% endif %}
			{% else %}
				<div class="blog-box">
					<div class="blog-img">
						<video width="250" height="250" controls><source src="{{ p.pro_video.url }}" type="video/mp4">
						Your browser does not support the video tag.</video>
				
				
			{% endif %}
			{% endfor %}
	

		</div>	
	
	</section>

	<!---------------------	pagination----->
	{% for p in kole %}
		{% if p.pk > 4 %}
		<div class="pag"> 
			<ul>
				<li><a href="{% url 'empowerment-detail' %}">prev</a></li>
				<li><a href="#">next</a></li>
		
			</ul>
		</div>
		{% endif %}
	{% endfor %}
    

{% endblock content %}
	
</html>
